// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
  background-image: url(home_image.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  z-index: 0;
}

body::before {
  content: '';
  position: absolute;
  top: -5px;
  bottom: -5px;
  left: -5px;
  right: -5px;
  background: inherit;
  z-index: -1;
}

.text_against_picture{
  text-shadow: 0 0 10px #333;
  color: #ffffff;
}

.text_main{
  font-size: xx-large;
}

.text_sub{
  font-size: large;
}