/ = modal_toggle({:href=>"#myModal", :role=>"button" }) do "ボタン" end

/ - default_options = {:class=>"modal hide fade", :id=>"myModal",:tabindex=>"-1", "role"=>"dialog", "aria-labelledby"=>"myModalLabel", "aria-hidden"=>"true"}
/ = content_tag :div, nil, default_options, true do
/   = modal_header() do
/     h3 id="myModalLabel" Modal header
/   = modal_body() do
/     p One fine body…
/   = modal_footer() do
/     = modal_cancel_button("Close", {"data-dismiss"=>"modal", "aria-hidden"=>"true"})

= f.number_field :score, class: 'form-control', id: 'score', step: "0.1"

/ = form_with url: mark_restaurants_create_path, local: true do |f|
/   .form-group
/     = f.label :score
    
/     = f.hidden_field :gurunavi_id, value: @restaurant.gurunavi_id
/     = f.hidden_field :category, value: @restaurant.category
/     = f.hidden_field :name, value: @restaurant.name
/     = f.hidden_field :address, value: @restaurant.address
/     = f.hidden_field :image_url, value: @restaurant.image_url
/     = f.hidden_field :opentime, value: @restaurant.opentime
/     = f.hidden_field :holiday, value: @restaurant.holiday
/     = f.hidden_field :pr_short, value: @restaurant.pr_short
/     = f.hidden_field :tel, value: @restaurant.tel
/     = f.hidden_field :gurunavi_url, value: @restaurant.gurunavi_url
/   = f.submit nil, class: 'btn btn-primary'


/ p= @restaurant.attributes